    <div class="container">

      <form class="form-signin form-parsley" {{action 'authenticate' on='submit'}}>
        <h2 class="heading">用户登录</h2>
        <div class="login-wrap">
            <div class="user-login-info">
                {{input value=username class="form-control" placeholder="用户名称"}}
                {{input value=password type="password" class="form-control" placeholder="登录密码"}}
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> 记住登录状态
                
            </label>
            <span class="pull-right">
                <a data-toggle="modal" href="#"> 忘记密码？</a>

            </span>
            <button class="btn btn-lg btn-login btn-block" type="submit">立即登录</button>

            <div class="registration">
                没有账号？
                <a class="" href="#">
                    创建账号
                </a>
            </div>

        </div>

      </form>

    </div>